################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Repos/FileContentIndex
/.vs/Repos/v17/.wsuo
/.vs/Repos/v17/DocumentLayout.json
